<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    {% include 'base_css.html' %}
</head>
<body>

<div class="container">
    <form class="form form-horizontal" method="post">
{#        {% csrf_token %}#}
        <div class="form-group">
            <div class="form-control">
                <label class="col-xs-3 col-xs-push-2">账号</label>
                <div class="col-xs-8">
                    <input name="name" placeholder="用户名" value="{{ name }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control">
                <label class="col-xs-3 col-xs-push-2">密码</label>
                <div class="col-xs-8">
                    <input type="password" name="password">
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">登录</button>
            <a class="btn btn-link" href="/user/register">去注册</a>
        </div>
    </form>
    <p class="text-danger">
        {{ error_msg|safe }}
    </p>
</div>

{% include 'base_js.html' %}
</body>
</html>